.main-posts {
  width: 50%;
  margin: 0 auto;
  &__post {
    margin: 10px 0;
    border: solid 2px;
    &__title-box {
      display: flex;
      justify-content: flex-start;
      font-size: 20px;
      &--title {
        display: block;
        margin: 5px 10px;
      }
      &--evaluation {
        display: block;
        margin: 0 5px;
        margin: 5px 10px;
      }
    }
    &__text {
      font-size: 25px;
      font-family: "sans-serif";
      margin: 5px 10px;
    }
  }
}