.main-posts {
  width: 60%;
  margin: 0 auto;
  &__post {
    margin: 10px 0;
    border: solid 1px;
    border-color: lightsalmon;
    &__title-box {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      background-color: lightsalmon;
      line-height: 25px;
      &--title {
        display: block;
        margin: 5px 10px;
        font-size: 23px;
      }
      &--evaluation {
        display: block;
        margin: 5px 10px;
      }
      &--time {
        display: block;
        margin: 5px 10px;
      }
    }
    &__text {
      font-size: 21px;
      font-family: "sans-serif";
      margin: 15px 10px;
      line-height: 26px;
    }
  }
}