.header
  .header__left
    .header__left__icon
      infogame
    = link_to "コミュニティ", "#", class: "header__left__btn"
  .header__right
    = link_to "会員登録する", "#", class: "header__right__register" 
    = link_to "ログインする", "#", class: "header__right__log-in" 
