.main-posts
  - @posts.each do |post|
    .main-posts__post
      %ul.main-posts__post__title-box
        %li.main-posts__post__title-box--title
          = post.title
        %li.main-posts__post__title-box--evaluation
          = post.evaluation
        %li.main-posts__post__title-box--time
          = post.updated_at.to_s(:datetime_jp)
      .main-posts__post__text
        = post.body